{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Courses</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{%static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{%static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{%static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{%static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{%static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
      <!--[if lt IE 9]>
      <script src="{%static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
      <script src="{%static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{%static 'images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="index.html">Atcode</a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li class="active"> <a href="home">Home</a> </li>
                              <li> <a href="courses">Courses</a> </li>
                              <li> <a href="Problem">Problemset</a> </li>
                              <li> <a href="contest">Contest</a> </li>
                              <li> <a href="profile">Profile</a> </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->

      <!-- end abouts -->
      <!-- service -->
      <h1 class="h1 py-sm-0">Need of Algorithm</h1>
<p>1. To understand the basic idea of the problem.</p>
<p>2. To find an approach to solve the problem.</p>
<p>3. To improve the efficiency of existing techniques.</p>
<p>4. To understand the basic principles of designing the algorithms.</p>
<p>5. To compare the performance of the algorithm with respect to other techniques.</p>
<p>6. It is the best method of description without describing the implementation detail.</p>
<p>7. The Algorithm gives a clear description of requirements and goal of the problem to the designer.</p>
<p>8. A good design can produce a good solution.</p>
<p>9. To understand the flow of the problem.</p>
<p>10. To measure the behavior (or performance) of the methods in all cases (best cases, worst cases, average cases)</p>
<p>11. With the help of an algorithm, we can also identify the resources (memory, input-output) cycles required by the algorithm.</p>
<p>12. With the help of algorithm, we convert art into a science.</p>
<p>13. To understand the principle of designing.</p>
<p>14. We can measure and analyze the complexity (time and space) of the problems concerning input size without implementing and running it; it will reduce the cost of design.</p>
      <br></br>
      <h2 class="h2">Analysis of algorithm</h2>
<p>The analysis is a process of estimating the efficiency of an algorithm. There are two fundamental parameters based on which we can analysis the algorithm:</p>
<ul class="points py-sm-0">
<li><strong>Space Complexity:</strong> The space complexity can be understood as the amount of space required by an algorithm to run to completion.</li>
<li><strong>Time Complexity:</strong> Time complexity is a function of input size <strong>n</strong> that refers to the amount of time needed by an algorithm to run to completion.</li>
</ul>
      <br></br>
<p>Let's understand it with an example.</p>
<p>Suppose there is a problem to solve in Computer Science, and in general, we solve a program by writing a program. If you want to write a program in some <a href="https://www.javatpoint.com/c-programming-language-tutorial">programming language like C</a>, then before writing a program, it is necessary to write a blueprint in an informal language.</p>
<p>Or in other words, you should describe what you want to include in your code in an English-like language for it to be more readable and understandable before implementing it, which is nothing but the concept of Algorithm.</p>
<p>In general, if there is a problem <strong>P1</strong>, then it may have many solutions, such that each of these solutions is regarded as an algorithm. So, there may be many algorithms such as <strong>A<sub>1</sub>, A<sub>2</sub>, A<sub>3</sub></strong>, &hellip;, <strong>A<sub>n</sub></strong>.</p>
<p>Before you implement any algorithm as a program, it is better to find out which among these algorithms are good in terms of time and memory.</p>
<p>It would be best to analyze every algorithm in terms of <strong>Time</strong> that relates to which one could execute faster and <strong>Memory</strong> corresponding to which one will take less memory.</p>
<p>So, the Design and Analysis of Algorithm talks about how to design various algorithms and how to analyze them. After designing and analyzing, choose the best algorithm that takes the least time and the least memory and then implement it as a <a href="https://www.javatpoint.com/c-programs">program in C</a>.</p>
<p>In this course, we will be focusing more on time rather than space because time is instead a more limiting parameter in terms of the hardware. It is not easy to take a computer and change its speed. So, if we are running an algorithm on a particular platform, we are more or less stuck with the performance that platform can give us in terms of speed.</p>
<p>However, on the other hand, memory is relatively more flexible. We can increase the memory as when required by simply adding a memory card. So, we will focus on time than that of the space.</p>
<p>The running time is measured in terms of a particular piece of hardware, not a robust measure. When we run the same algorithm on a different computer or use different programming languages, we will encounter that the same algorithm takes a different time.</p>
<p>Generally, we make three types of analysis, which is as follows:</p>
<ul class="points">
<li><strong>Worst-case time complexity:</strong> For '<strong>n</strong>' input size, the worst-case time complexity can be defined as the maximum amount of time needed by an algorithm to complete its execution. Thus, it is nothing but a function defined by the maximum number of steps performed on an instance having an input size of n.</li>
<li><strong>Average case time complexity:</strong> For '<strong>n</strong>' input size, the average-case time complexity can be defined as the average amount of time needed by an algorithm to complete its execution. Thus, it is nothing but a function defined by the average number of steps performed on an instance having an input size of n.</li>
<li><strong>Best case time complexity:</strong> For '<strong>n</strong>' input size, the best-case time complexity can be defined as the minimum amount of time needed by an algorithm to complete its execution. Thus, it is nothing but a function defined by the minimum number of steps performed on an instance having an input size of n.</li>
</ul>

<!--<h2 class="h2">Algorithm vs Program:</h2>
<p>A finite set of instructions that specifies a sequence of operations to be carried out to solve a specific problem of a class of problem is called an algorithm.</p>
<p>On the other hand, the Program doesn't have to satisfy the finiteness condition. For example, we can think of an operating system that continues in a "wait" loop until more jobs are entered. Such a program doesn't terminate unless the system crashes.</p>
<img src="https://static.javatpoint.com/tutorial/daa/images/daa-need-of-algorithm.png" alt="DAA Need of Algorithm"/>
<br>
<p>Given a Problem to solve, the design Phase produces an algorithm, and the implementation phase then generates a program that expresses the designed algorithm. So, the concrete expression of an algorithm in a particular programming language is called a program.</p>-->

<hr/>
<!-- link -->
<br/><br/>

      <div class="container py-3">
         <div class="row">
            <div class="col-sm-4" id="box_shadow">
               <div class="card box_shadow">
                 <img src="{% static 'images/bruteforce.jpg' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title"><bold>BruteForce Algorithm</bold></h5>
                   <p class="card-text">In computer science, brute-force search or exhaustive search, also known as generate and test, is a very general problem-solving technique and algorithmic paradigm that consists of systematically enumerating all possible candidates for the solution and checking whether each candidate satisfies the problem's statement.</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="card" >
                 <img src="{% static 'images/recursive.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title"><bold>Recursive Algorithm</bold></h5>
                   <p class="card-text">Recursion is the process of defining a problem (or the solution to a problem) in terms of (a simpler version of) itself. For example, we can define the operation "find your way home</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="card" >
                 <img src="{% static 'images/greedy.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">Greedy Algorithm</h5>
                   <p class="card-text">Greedy is an algorithmic paradigm that builds up a solution piece by piece, always choosing the next piece that offers the most obvious and immediate benefit. So the problems where choosing locally optimal also leads to global solution are best fit for Greedy. For example consider the Fractional Knapsack Problem.</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4 py-3">
               <div class="card" >
                 <img src="{% static 'images/dp.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">Dynamic Algorithm</h5>
                   <p class="card-text">Dynamic Programming (DP) is an algorithmic technique for solving an optimization problem by breaking it down into simpler subproblems and utilizing the fact that the optimal solution to the overall problem depends upon the optimal solution to its subproblems..</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4 py-3">
               <div class="card" >
                 <img src="{% static 'images/backtracking.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">Backtracking Algorithm</h5>
                   <p class="card-text">Dynamic Programming (DP) is an algorithmic technique for solving an optimization problem by breaking it down into simpler subproblems and utilizing the fact that the optimal solution to the overall problem depends upon the optimal solution to its subproblems.</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4 py-3">
               <div class="card" >
                 <img src="{% static 'images/divide.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">Divide and Conquer</h5>
                   <p class="card-text">In computer science, divide and conquer is an algorithm design paradigm based on multi-branched recursion. A divide-and-conquer algorithm works by recursively breaking down a problem into two or more sub-problems of the same or related type, until these become simple enough to be solved directly.</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4 py-3">
               <div class="card" >
                 <img src="{% static 'images/bit.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">Bit & Manipulation</h5>
                   <p class="card-text">In computer science, divide and conquer is an algorithm design paradigm based on multi-branched recursion. A divide-and-conquer algorithm works by recursively breaking down a problem into two or more sub-problems of the same or related type, until these become simple enough to be solved directly..</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4 py-3">
               <div class="card" >
                 <img src="{% static 'images/js.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
            <div class="col-sm-4 py-3">
               <div class="card box-shadow" >
                 <img src="{% static 'images/proj.png' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">Project</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                 </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end footer -->
      <!-- Javascript files-->
      <footr>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Address</h3>
                        <i><img src="{%static 'icon/3.png'%}">Locations</i>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Menus</h3>
                        <i><img src="{%static 'icon/2.png'%}">Locations</i>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Useful Linkes</h3>
                        <i><img src="{%static 'icon/1.png'%}">Locations</i>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Social Media </h3>
                        <ul class="contant_icon">
                           <li><img src="{%static 'icon/fb.png' %}" alt="icon"/></li>
                           <li><img src="{%static 'icon/tw.png' %}" alt="icon"/></li>
                           <li><img src="{%static 'icon/lin (2).png' %}" alt="icon"/></li>
                           <li><img src="{%static 'icon/instagram.png' %}" alt="icon"/></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 width">
                     <div class="address">
                        <h3>Newsletter </h3>
                        <input class="form-control" placeholder="Enter your email" type="type" name="Enter your email">
                        <button class="submit-btn">Subscribe</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
         </div>
      </footr>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{%static 'js/jquery.min.js' %}"></script>
      <script src="{%static 'js/popper.min.js' %}"></script>
      <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{%static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{%static 'js/custom.js' %}"></script>
      <script src="{%static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });

         $(".zoom").hover(function(){

         $(this).addClass('transition');
         }, function(){

         $(this).removeClass('transition');
         });
         });

      </script>
   </body>
</html>